<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>

<form action="." method="get">
    <label for="news"></label>
    <input type="text" id="news" value="{{ request.GET.news }}" placeholder="Search news..." name="news"/>
    <button type="submit">Search</button>
</form>

{% for article in articels %}
    <img src="{{ article.img }}" alt="">
    <a href="/article/{{ article.slug }}">{{ article.header_article }}</a>
    {{ article.time }}
    <hr>
{% endfor %}

</body>
</html>